<div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <h3>Users:  Action</h3>
        <div class="col-lg-4 col-md-4 col-sm-4 col-xs-4">
          <span *ngFor="let users of allUsers">
           <button class="row" class="btn btn-default sampleOverLay test" style="width: 50%;margin: 10px;">
              {{users.user}}
           </button>
           <button class="btn btn-default test" (click)="startGame(users.id)">
            Play
           </button>
          </span>
        </div>
      </div>
      <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
          <h3>My Info:</h3>
          <p>User: {{myNumber.user}}</p>
          <p>RandomId: {{myNumber.id}}</p>
      </div>
</div>